# Аномалии и выбросы. Практическая работа

### Задача. Исследование выбросов с использованием правила трёх сигм

1. Загрузите датасет из `test_outliers.csv` и выведите первые пять записей.

In [1]:
# Ваш код здесь
import pandas as pd

In [2]:
df_test = pd.read_csv('data/test_outliers.csv')
df_test.head()

   value
0  -71.0
1  141.0
2  104.0
3  116.0
4  214.0

2. Выведите описательные статистики для признака `value`.

In [3]:
# Ваш код здесь
df_test['value'].describe()

count    11000.000000
mean        66.669455
std        235.722382
min       -439.000000
25%        -62.000000
50%         11.000000
75%         93.000000
max        800.000000
Name: value, dtype: float64

3. Выведите границы для нормальных значений признака, используя правило трёх сигм. Напишите функцию `calculate_outliers_3sigma` для расчёта границ самостоятельно. Посмотрите, входят ли минимальное и максимальное значения в интервал между полученными границами.

In [4]:
# Ваш код здесь
def calculate_outliers_3sigma(data):
    low = data.mean() - 3 * data.std()
    high = data.mean() + 3 * data.std()
    boundaries = (low, high)
    
    return boundaries

boundaries = calculate_outliers_3sigma(df_test.value)

print("Границы для нормальных значений года выпуска, используя правило 3х сигм:", boundaries)

Границы для нормальных значений года выпуска, используя правило 3х сигм: (-640.4976903233794, 773.8365994142885)

4. Посчитайте и выведите количество выбросов в признаке.

In [5]:
# Ваш код здесь
is_outlier = (df_test['value'] < boundaries[0]) | (df_test['value'] > boundaries[1]) 
print("Количество выбросов:", is_outlier.sum())

Количество выбросов: 226

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

**Ответы для самостоятельной проверки**

In [ ]:
# 1

df_test = pd.read_csv('data/test_outliers.csv')
df_test.head()

   value
0  -71.0
1  141.0
2  104.0
3  116.0
4  214.0

In [ ]:
# 2

df_test['value'].describe()

count    11000.000000
mean        66.669455
std        235.722382
min       -439.000000
25%        -62.000000
50%         11.000000
75%         93.000000
max        800.000000
Name: value, dtype: float64

In [ ]:
# 3

def calculate_outliers_3sigma(data):
    low = data.mean() - 3 * data.std()
    high = data.mean() + 3 * data.std()
    boundaries = (low, high)
    
    return boundaries

boundaries = calculate_outliers_3sigma(df.value)

print("Границы для нормальных значений года выпуска, используя правило 3х сигм:", boundaries)

Границы для нормальных значений года выпуска, используя правило 3х сигм: (-640.4976903233794, 773.8365994142885)

In [ ]:
# 4

is_outlier = (df_test['value'] < boundaries[0]) | (df_test['value'] > boundaries[1]) 
print("Количество выбросов:", is_outlier.sum())

Количество выбросов: 226